.a{
   height: 800px;
   width: 1560px;
   background-image: url(./images/image.png)  ;
   background-repeat: no-repeat;
   background-size: cover;
   border: 5px solid black;
   border: none;
}
.a1{
   padding-left: 50px;
   padding-top: 50PX;
}
.a2{
   height: 200px;
   width: 200px;
   background-color:gray 	;
   margin-left: 50px;
   margin-right: 30px;
   float: left;
   border-radius: 30px;
   font-size: 50px;
   text-align: center;

}
.a29{
font-size: 20px;
text-align: center;
}
.a28{

margin-top: -20px;
}

.a3{
   height: 200px;
   width: 200px;
   background-color:gray 	;
   margin-right: 30px;
    float: left;
    border-radius: 30px;
    font-size: 50px;
   text-align: center;
}
.a39{
 font-size: 20px;
 text-align: center;

}
.a38{
 margin-top: -15px;
}
.a4{
   height: 140px;
   width: 200px;
   background-color:gray 	;
   margin-right: 30px;
    float: left;
    border-radius: 30px;
    padding-top: 80px;
    position: absolute;
    margin-top: 250px;
   margin-left: 45px;
   font-size: 50px;
   text-align: center;
}
.a49{
font-size: 20px;
text-align: center;

}
.a48{
 margin-top:-80px ;
}
.a5{
   height: 200px;
   width: 200px;
   background-color:gray 	;
   margin-right: 30px;
    float: left;
    border-radius: 30px;
     padding-top: 80px;
    position: absolute;
     margin-left: 280px;
     margin-top: 250px;
     font-size: 50px;
   text-align: center;
   padding-top: 15px;

}
.a59{
 font-size: 20px;
 text-align: center;
}
.a58{
 margin-top: -10px;

}
.b{
	height: 600px;
   width: 1560px;
   background-image: url(./images/image2.png)  ;
   background-repeat: no-repeat;
   background-size: cover;
   border: 5px solid black;
   border: none;

}
button{
	height: 40px;
	width: 250px;
	background-color: purple;
	float: right;
	margin-top: 60px;
	margin-right:500px;
	border-radius: 25px;
}
.b1{
	float: left;
	padding-left: 760px;
	padding-top: 20px;
   color: darkred;
   text-align: center;

}
.b2{

   text-align: center;
   text-align: justify;
   margin-top: 10px;
   float: right;
   margin-right: 400px;


}
.b3{
height: 40px;
width: 110px;
border: 2px solid black;
float: left;
margin-top: 100px;
margin-left: 800px;
border-radius: 10px;

}
.b4{

font-size: 30px;

}
.b5{
text-align: center;
margin-top: -70px;
font-size: 20px;
}
.b6{
 height: 40px;
 width: 110px;
 border: 2px solid black;
 border-radius: 10px;
 margin-top: 435px;
 margin-left: 970px;
}
.b7{
 font-size: 30px;
}
.b8{
margin-top: -60px;
margin-left: 35px;

}

span{
	height: 20px;
	width: 50px;
	border-radius: 10px;
	border: 2px solid black;
	margin-top: 100px;
	
	margin-left: 600px;
}
.c{
	height: 800px;
	width: 100%;
	background-image: url(./images/image3.png)  ;
   background-repeat: no-repeat;
   background-size: cover;
   border: 5px solid black;
   border: none;
}
.c1{
    color: whitesmoke;
    padding-left: 200px;
    margin-top: 40px;
     }
 .c2{
  margin-top: 20px;
 }
 .c3{
height: 40px;
   width: 250px;
   background-color: purple;
   float: left;
   margin-left: 210px;
   margin-top: 60px;


 }
 .d{
   height: 600px;
   width: 100%px;
  background-color: lightgray;
   background-repeat: no-repeat;
   background-size: cover;
   border: 5px solid black;
   border: none;
   padding-top: 50px;
   padding-left: 50px;
   text-align: center;
 }
 .d1{
  height: 300px;
  width: 350px;
  background-color: whitesmoke;
  float: left;
  margin-left: 150px;
  margin-right: 20px;
  margin-top: 70px;
  border-radius: 30px;
 }
 .d2{
  height: 300px;
  width: 350px;
  background-color: whitesmoke;
  float: left;
  margin-right: 20px;
  margin-top: 70px;
  border-radius: 30px;
 }
 .d3{
  height: 300px;
  width: 350px;
  background-color: whitesmoke;
  float: left;
  margin-right: 20px;
  margin-top: 70px;
  border-radius: 30px;

 }
 .i{
   float: right;
   border-radius: 50%;
   height: 90px;
   width: 90px;
  
  }

  .d4{

    text-align: left;
    margin-top: 50px;
    margin-left: 30px;

  }
  .d5{
   text-align: left;
    margin-left: 30px;
    margin-top: 40px;


  }
 .e{
   height: 900px;
   width: 100%px;
   background-image: url(./images/image4.png)  ;
   background-repeat: no-repeat;
   background-size: cover;
   border: 5px solid black;
   border: none;
   text-align: center;
   color: darkgray;
   padding-top: 80px;
  }
  .e1{
  height: 450px;
  width: 350px;
  background-color: whitesmoke;
  float: left;
  margin-left: 150px;
  margin-right: 20px;
  margin-top: 250px;
  border-radius: 30px;
 }
 .e2{
  height: 450px;
  width: 350px;
  background-color: whitesmoke;
  float: left;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 250px;
  border-radius: 30px;
 }
 .e3{
  height: 450px;
  width: 350px;
  background-color: whitesmoke;
  float: left;
 margin-left: 50px;
  margin-right: 20px;
  margin-top: 250px;
  border-radius: 30px;
 }
 .j
 {
     height: 200px;
     width: 200px;
}
.k{
 
  color: purple;
  text-align: center;

 }
 .l{
   text-align: center;
   }
 .m{
   height: 40px;
   width: 250px;
   background-color: purple;
   float: right;
   margin-top: 20px;
   margin-right:40px;
   border-radius: 25px;
}
 .n{
   height: 600px;
   width: 100%px;
  background-color: whitesmoke;
   background-repeat: no-repeat;
   background-size: cover;
   border: 5px solid black;
   border: none;
   padding-top: 50px;
   padding-left: 50px;
   text-align: center;
}
.o{
  text-align: center;
}
.p{
height: 40px;
   width: 150px;
   background-color: purple;
   float: right;
   margin-top: 40px;
   margin-right:500px;
   border-radius: 25px;

}
.q{
   margin-top: 47px;
   margin-left: 500px;
   height: 25px;
   width: 250px;
   border-radius: 10px;
}
.r{
  text-align: center;
  margin-right: 200px;
}
ul.s {
  list-style-type: circle;
  float: left;
  text-align: center;
}
.t{
   margin-top: 50px;
}
.u{

   height: 1300px;
   width: 100%px;
   background-image: url(./images/image7.png)  ;
   background-repeat: no-repeat;
   background-size: cover;
   border: 5px solid black;
   border: none;
}
.u2{
   height: 200px;
   width: 200px;
   background-color:gray   ;
   margin-left: 550px;
   margin-right: 30px;
   float: left;
   border-radius: 0px;
   margin-top: 40px;
}
.u3{
   height: 200px;
   width: 200px;
   background-color:gray   ;
   margin-right: 50px;
    float: left;
    border-radius: 0px;
    margin-top: 40px;
}

.u4{
   height: 80px;
   width: 200px;
   background-color:gray   ;
   margin-right: 30px;
    float: left;
    border-radius: 0px;
    padding-top: 100px;
    position: absolute;
    margin-top: 250px;
   margin-left: 550px;
}
.u5{
   height: 60px;
   width: 200px;
   background-color:gray   ;
   margin-right: 30px;
    float: left;
    border-radius: 0px;
     padding-top: 100px;
    position: absolute;
     margin-left: 780px;
     margin-top: 250px;

}
.w{
 text-align: left;
 background-color: whitesmoke;
 height: 250px;
 width: 200px;
 border-radius: 15px;
 margin-left: 170px;
 margin-top: -100px;
 
}
.x{
 height: 40px;
   width: 150px;
   background-color: purple;
   float: right;
   margin-top: 3px;
   margin-right:30px;
   border-radius: 25px;
   
}
.y{
height: 230px;
width: 230px;
background-color: whitesmoke;
border-radius: 10px;
margin-top: 800px;
margin-left: 300px;

}
.z{
   height: 230px;
width: 230px;
background-color: whitesmoke;
border-radius: 10px;
margin-left: 200px;
margin-top: -60px;

}
.z2{
height: 230px;
width: 500px;
background-color: whitesmoke;
margin-top: -400px;
margin-left: 300px;
text-align: left;
text-align: justify-all;
border-radius: 15px;

}
.z3{
height: 40px;
   width: 230px;
   background-color: purple;
   float: right;
   margin-top: 3px;
   margin-right:100px;
   border-radius: 25px;

}
.z4{
   height: 450px;
   width: 100%px;
  background-color: whitesmoke;
   background-repeat: no-repeat;
   background-size: cover;
   border: 5px solid black;
   border: none;
}
.z5{
    
 text-align: center;
 padding-top: 50px;
}
.z6
{
 color: purple;
 float: left;
 font-size: 25px;
 padding-left: 230px;
 text-align: left;

}
.z7{
float: left;
 
 padding-left: 170px;
 text-align: center;


}
.z8{
float: left;
 
 padding-left: 120px;
 text-align: center;


}
.z9{
float: left;
 
 padding-left: 120px;
 text-align: center;


}
.z12{
float: left;
 
 padding-left: 100px;
 text-align: center;
}
.z13{

 height: 1000px;
   width: 100%px;
   background-color: purple;
   background-repeat: no-repeat;
   background-size: cover;
   border: 5px solid black;
   border: none;

}
.x1{
    height: 800px ;
    background-color: gray;
    width: 500px;
  margin-top: 105px;
  margin-left: 200px;
  float: left;
  text-align: left;
  padding-left: 10px;


}
.x2{
    height: 800px ;
    background-color: whitesmoke;
    width: 500px;
  margin-top: 87px;
  float: left;


}
.x3{
  text-align: left;
  margin-left: 30px;



}

.q2{
 text-align: left;
}
.q3{
   height: 100px;
   width: 250px;

}
.q4{
 text-align: left;
}
.q5{
height: 40px;
   width: 250px;
   background-color: purple;
   float: left;
   margin-left: 55px;

}
.q6{
 float: left;
 margin-left: 20px;
 font-size: 30px;
 margin-top: 200px;

 }










